<legend>Promotion Cost</legend>
<table class="table table-hover table-striped">
<tr>
						<th width="30%"><strong>Condition Type</strong></th>
						<th width="70%"><strong>Budget =</strong></th>
						</tr>
                        <tr>
                        <td>ZZAQ Sell out rebate</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>ZZAC Mailer</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>ZZAD Display fee</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>Shelf space fee</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>Free goods</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>ZZAA New store opening</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>ZZAJ Store revamping</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>ZZAB Listing fees</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>ZZAP Anniversary / Sponsorship</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>ZZAR Scandata / lightbox / billboard</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>ZZAF Localised promotions</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>FFS</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>KRIS</td>
						<td>RM</td>
					  </tr>
					  <tr>
                         <td><strong>Sub-Total Trade Spend:</strong></td>
						<td>RM</td>
					  </tr>

					  <tr>
                        <td>POS Material costs</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>Premium goods</td>
						<td>RM</td>
					  </tr>
					  <tr>
                        <td>FFS</td>
						<td>RM</td>
					  </tr>
					 <!--  <tr>
                        <td><label>KRIS</label></td>
						<td><label>RM</label></td>
					  </tr> -->
					  <tr>
                         <td><strong>Sub-Total A&P</strong></td>
						<td>RM</td>
					  </tr>
					    <tr>
                         <td><strong>Total</strong></td>
						<td>RM</td>
					  </tr>
					  
</table>
<p><button type="button" class="btn btn-default btn-lg">Create request for additional budget</button></p>
