<table class="table table-striped">
<tr>
						<td><strong>Condition Type</strong></td>
						<td><strong>Budget =</strong></td>
						</tr>
                        <tr>
                        <td><label>ZZAQ Sell out rebate</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>ZZAC Mailer</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>ZZAD Display fee</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>Shelf space fee</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>Free goods</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>ZZAA New store opening</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>ZZAJ Store revamping</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>ZZAB Listing fees</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>ZZAP Anniversary / Sponsorship</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>ZZAR Scandata / lightbox / billboard</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>ZZAF Localised promotions</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>FFS</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>KRIS</label></td>
						
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                         <td><strong>Sub-Total Trade Spend:</strong></td>
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                         <td colspan="2"></td>
					  </tr>
					  <tr>
                        <td><label>POS Material costs</label></td>
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>Premium goods</label></td>
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>FFS</label></td>
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                        <td><label>KRIS</label></td>
						<td><label>RM</label></td>
					  </tr>
					  <tr>
                         <td><strong>Sub-Total A&P</strong></td>
						<td><label>RM</label></td>
					  </tr>
					    <tr>
                         <td><strong>Total</strong></td>
						<td><label>RM</label></td>
					  </tr>
</table>

