<div ng-controller="CustomerListCtrl">				
                <div class="span9" id="content">
                      <!-- morris stacked chart -->
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="block-content collapse in">
                                <div class="span12">
                                     <div class="form-horizontal">
                                      <fieldset>
                                        <legend>Customer Selections</legend>
										<!-- <div><pre ng-model="result">{{result}}</pre></div> -->
                                        <div class="control-group">
										  <div class="span3">
											<div class="radio">
											<label>
												<input type="radio" id="channel" name="channel" value="allChannel" checked>
												All Channel
											  </label>
											</div>
										  </div>
										  <div class="span5">
											<div class="radio">
												  <label>
													<input type="radio" id="channel" name="channel" value="selChannel">
													Selected Channel
												  </label>
											</div>
											<div style="padding:10px;" class="hide" id="Channel" >
						<table>
																<tr>
																<td>
																	<tr>
																		<td> <label>Available</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="frmAllChannel" multiple="multiple" size="10" style="width:100%;" ng-model="selectedCusGroupOption1">	
																			<option ng:repeat="custGroupOption1 in CusGroupOption1 | unique:'cusGroup1ID'" value="{{custGroupOption1.cusGroup1ID}}">{{custGroupOption1.cusGroup1Desc}}</option>
																			</select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		<td>
																				
																				 <div class="btn-group btn-group-vertical">
																				 <button type="button" class="btn btn-small" id="moverightall" ng-click="moveAllItems('frmAllChannel','toSelChannel');changeGroupItems1();"><b>>></b></button>
																				 <button type="button" class="btn btn-small" id="moveright" ng-click="moveItems('frmAllChannel','toSelChannel');changeGroupItems1(CusGroupOption1)"><b>></b></button>
																				 <button type="button" class="btn btn-small" id="moveleft" ng-click="moveItems('toSelChannel','frmAllChannel');changeGroupItems1(CusGroupOption1)" ><b><</b></button>
																				 <button type="button" class="btn btn-small" id="moveleftall" ng-click="moveAllItems('toSelChannel','frmAllChannel');changeGroupItems1();"><b><<</b></button>
																				</div>
																		
																		</td>
																		<td> <label>Selected</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="toSelChannel" multiple="multiple" size="10" style="width:100%;"></select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		</tr>
																	</td>
																</tr>		
																</table>
															</div>
														  </div>
														</div>
														<div class="control-group">
												<div class="span3">
												<div class="radio">
												<label>
													<input type="radio" name="subchannel" id="subchannel" value="allSubChannel" checked>
													All Sub Channel (BW)
												  </label>
												</div>
											  </div>
											  <div class="span5">
												<div class="radio">
													  <label>
														<input type="radio" name="subchannel" id="subchannel" value="selSubChannel">
														Selected Sub Channel (BW)
													  </label>
												</div>
												<div style="padding:10px;" class="hide" id="SubChannel" >
													<table>
																	<tr>
																	<td>
																		<tr>
																			<td> <label>Available</label>
																			<!-- /.form-group -->
																				<div class="control-group">
																				<select id="frmAllSubChannel" multiple="multiple" size="10" style="width:100%;" ng-model="selectedCusGroupOption5">
																					<option ng:repeat="GroupOption5 in CusGroupOption5 | unique:'cusGroup5ID'" value="{{GroupOption5.cusGroup5ID}}">{{GroupOption5.cusGroup5Desc}}</option>
																				</select>
																				</div>
																			<!-- /.form-group -->
																			</td>
																			<td>
																					
																					 <div class="btn-group btn-group-vertical">
																					 <button type="button" class="btn btn-small" id="moverightall" ng-click="moveAllItems('frmAllSubChannel','toSelSubChannel');changeGroupItems2();"><b>>></b></button>
																					 <button type="button" class="btn btn-small" id="moveright" ng-click="moveItems('frmAllSubChannel','toSelSubChannel');changeGroupItems2(CusGroupOption5);"><b>></b></button>
																					 <button type="button" class="btn btn-small" id="moveleft" ng-click="moveItems('toSelSubChannel','frmAllSubChannel');changeGroupItems2(CusGroupOption5);" ><b><</b></button>
																					 <button type="button" class="btn btn-small" id="moveleftall" ng-click="moveAllItems('toSelSubChannel','frmAllSubChannel');changeGroupItems2();"><b><<</b></button>
																					</div>
																			
																			</td>
																			<td> <label>Selected</label>
																			<!-- /.form-group -->
																				<div class="control-group">
																				<select id="toSelSubChannel" multiple="multiple" size="10" style="width:100%;"></select>
																				</div>
																			<!-- /.form-group -->
																			</td>
																			</tr>
																		</td>
																	</tr>		
																	</table>
															</div>
														  </div>
														</div>
														<div class="control-group">
														<div class="span3">
														<div class="radio">
														  <label>
															<input type="radio" name="region" id="region" value="allRegion" checked>
															All Region (BW)
														  </label>
														</div>
														</div>
														<div class="span5">
														<div class="radio">
															  <label>
																<input type="radio" name="region" id="region" value="selRegion">
																Selected Region (BW)
															  </label>
															</div>
															<div style="padding:10px;" class="hide" id="Region">
														<table>
																<tr>
																<td>
																	<tr>
																		<td> <label>Available</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="frmAllRegion" multiple="multiple" size="10" style="width:100%;" ng-model="selectedCusGroupOption6">
																				<option ng:repeat="GroupOption6 in CusGroupOption6 | unique:'cusGroup6ID'" value="{{GroupOption6.cusGroup6ID}}">{{GroupOption6.cusGroup6Desc}}</option>
																				
																			</select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		<td>
																				<div class="btn-group btn-group-vertical">
																				 <button type="button" class="btn btn-small" id="moverightall" ng-click="moveAllItems('frmAllRegion','toSelRegion');changeGroupItems3();"><b>>></b></button>
																				 <button type="button" class="btn btn-small" id="moveright" ng-click="moveItems('frmAllRegion','toSelRegion');changeGroupItems3(CusGroupOption6);"><b>></b></button>
																				 <button type="button" class="btn btn-small" id="moveleft" ng-click="moveItems('toSelRegion','frmAllRegion');changeGroupItems3(CusGroupOption6);" ><b><</b></button>
																				 <button type="button" class="btn btn-small" id="moveleftall" ng-click="moveAllItems('toSelRegion','frmAllRegion');changeGroupItems3();"><b><<</b></button>
																				</div>
																		</td>
																		<td> <label>Selected</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="toSelRegion" multiple="multiple" size="10" style="width:100%;"></select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		</tr>
																	</td>
																</tr>		
																</table>
																</div>
														</div>
														</div>
														<div class="control-group">
														<div class="span3">
														<div class="radio">
															  <label>
																<input type="radio" name="customer" id="customer" value="allCustomer" checked>
																All Customers
															  </label>
															</div>
														</div>
														<div class="span8">
														<div class="radio">
															  <label>
																<input type="radio" name="customer" id="customer" value="selCustomer">
																Selected Customers
															  </label>
															</div>
														<div style="padding:10px;" class="hide" id="Customer">
						<table>
																<tr>
																<td>
																	<tr>
																		<td> <label>Available <!-- <input class="input-xlarge focused" id="promoRequestDate" type="text" ng-model="custTxtSearch" ng-change="searchText();"> --></label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="frmAllCustomer" multiple="multiple" size="10" style="width:100%;" ng-model="selectedCusOptionName">	
																			<option ng:repeat="OptionName in CusOptionName | unique:'customerID'" value="{{OptionName.customerID}}">{{OptionName.cusCustomerClientCode}}  {{OptionName.cusCustomerName}}</option>
																			</select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		<td>
																				<div class="btn-group btn-group-vertical">
																				 <button type="button" class="btn btn-small" id="moverightall" ng-click="moveAllItems('frmAllCustomer','toSelCustomer');"><b>>></b></button>
																				 <button type="button" class="btn btn-small" id="moveright" ng-click="moveItems('frmAllCustomer','toSelCustomer');"><b>></b></button>
																				 <button type="button" class="btn btn-small" id="moveleft" ng-click="moveItems('toSelCustomer','frmAllCustomer');" ><b><</b></button>
																				 <button type="button" class="btn btn-small" id="moveleftall" ng-click="moveAllItems('toSelCustomer','frmAllCustomer');"><b><<</b></button>
																				</div>
																		</td>
																		<td> <label>Selected</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="toSelCustomer" multiple="multiple" size="10" style="width:100%;"></select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		</tr>
																	</td>
																</tr>		
																</table>
					</div>
														</div>
														</div>
														<div class="control-group">
														<div class="span3">
														<div class="radio">
														  <label>
															<input type="radio" name="type" id="type" value="alltype" checked>
															Secondary Customer Type
														  </label>
														</div>
														</div>
														<div class="span5">
														<div class="radio">
															  <label>
																<input type="radio" name="type" id="type" value="seltype">
																Secondary Customer Type
															  </label>
															</div>
															<div style="padding:10px;" class="hide" id="Type">
														<table>
																<tr>
																<td>
																	<tr>
																		<td> <label>Available</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="frmAllType" multiple="multiple" size="10" style="width:100%;" ng-model="selectedSecCusGroupOption1">
																				<option ng:repeat="SecCusGroup1 in SecCusGroupOption1 | unique:'cusGroup6ID'" value="{{SecCusGroup1.cusGroup6ID}}">{{SecCusGroup1.cusGroup6Desc}}</option>
																				
																			</select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		<td>
																				<div class="btn-group btn-group-vertical">
																				 <button type="button" class="btn btn-small" id="moverightall" ng-click="moveAllItems('frmAllType','toSelType')"><b>>></b></button>
																				 <button type="button" class="btn btn-small" id="moveright" ng-click="moveItems('frmAllType','toSelType')"><b>></b></button>
																				 <button type="button" class="btn btn-small" id="moveleft" ng-click="moveItems('toSelType','frmAllType')" ><b><</b></button>
																				 <button type="button" class="btn btn-small" id="moveleftall" ng-click="moveAllItems('toSelType','frmAllType')"><b><<</b></button>
																				</div>
																		</td>
																		<td> <label>Selected</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="toSelType" multiple="multiple" size="10" style="width:100%;"></select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		</tr>
																	</td>
																</tr>		
																</table>
																</div>
														</div>
														</div>
														<div class="control-group">
														<div class="span3">
														<div class="radio">
														  <label>
															<input type="radio" name="secCustomer" id="secCustomer" value="allsecCustomer" checked>
															Secondary Customer 
														  </label>
														</div>
														</div>
														<div class="span5">
														<div class="radio">
															  <label>
																<input type="radio" name="secCustomer" id="secCustomer" value="selsecCustomer">
																Secondary Customer 
															  </label>
															</div>
															<div style="padding:10px;" class="hide" id="SecondaryCustomer">
														<table>
																<tr>
																<td>
																	<tr>
																		<td> <label>Available  <input class="input-xlarge focused" id="promoRequestDate" type="text" ng-model="custTxtSearch" ng-change="searchText();"></label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="frmAllsecCustomer" multiple="multiple" size="10" style="width:100%;" ng-model="selectedsecCustomer">
																				<option ng:repeat="SecCusGroup1 in SecCusGroupOption1 | unique:'cusGroup6ID'" value="{{SecCusGroup1.cusGroup6ID}}">{{SecCusGroup1.cusGroup6Desc}}</option>
																				
																			</select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		<td>
																				<div class="btn-group btn-group-vertical">
																				 <button type="button" class="btn btn-small" id="moverightall" ng-click="moveAllItems('frmAllsecCustomer','toSelsecCustomer')"><b>>></b></button>
																				 <button type="button" class="btn btn-small" id="moveright" ng-click="moveItems('frmAllsecCustomer','toSelsecCustomer')"><b>></b></button>
																				 <button type="button" class="btn btn-small" id="moveleft" ng-click="moveItems('toSelsecCustomer','frmAllsecCustomer')" ><b><</b></button>
																				 <button type="button" class="btn btn-small" id="moveleftall" ng-click="moveAllItems('toSelsecCustomer','frmAllsecCustomer')"><b><<</b></button>
																				</div>
																		</td>
																		<td> <label>Selected</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="toSelsecCustomer" multiple="multiple" size="10" style="width:100%;"></select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		</tr>
																	</td>
																</tr>		
																</table>
																</div>
														</div>
														</div>
													  </fieldset>
													</div>
												</div>
										</div>
									</div>
									<!-- /block -->
								</div>              
								</div>				
								</div>
			<!-- Jquery  -->
		<script>
		$(document).ready(function(){
		//alert("asdasd");
		//----on click multislect will open------------------
        $('input[type="radio"]').click(function(){  
		if($(this).attr("value")=="selChannel"){
		   $('#Channel').removeClass('hide');
		   $('#Channel').addClass('show');  
		}
		if($(this).attr("value")=="allChannel"){
		   $('#Channel').removeClass('show');
		   $('#Channel').addClass('hide');
        }
		if($(this).attr("value")=="selSubChannel"){
		   $('#SubChannel').removeClass('hide');
		   $('#SubChannel').addClass('show');  
		}
		if($(this).attr("value")=="allSubChannel"){
		   $('#SubChannel').removeClass('show');
		   $('#SubChannel').addClass('hide');
        }
		if($(this).attr("value")=="selRegion"){
		   $('#Region').removeClass('hide');
		   $('#Region').addClass('show');  
		}
		if($(this).attr("value")=="allRegion"){
		   $('#Region').removeClass('show');
		   $('#Region').addClass('hide');
        }
		if($(this).attr("value")=="selCustomer"){
		   $('#Customer').removeClass('hide');
		   $('#Customer').addClass('show');  
		}
		if($(this).attr("value")=="allCustomer"){
		   $('#Customer').removeClass('show');
		   $('#Customer').addClass('hide');
        }
		if($(this).attr("value")=="seltype"){
		   $('#Type').removeClass('hide');
		   $('#Type').addClass('show');  
		}
		if($(this).attr("value")=="alltype"){
		   $('#Type').removeClass('show');
		   $('#Type').addClass('hide');
        }
		if($(this).attr("value")=="selsecCustomer"){
		   $('#SecondaryCustomer').removeClass('hide');
		   $('#SecondaryCustomer').addClass('show');  
		}
		if($(this).attr("value")=="allsecCustomer"){
		   $('#SecondaryCustomer').removeClass('show');
		   $('#SecondaryCustomer').addClass('hide');
        }
		});
	 });
	</script>	