<div id="customer" ng-controller="CustomerListCtrl">				
                <div class="span9" id="content">
                      <!-- morris stacked chart -->
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="block-content collapse in">
                                <div class="span12">
                                     <div class="form-horizontal">
                                      <fieldset>
                                        <legend>Customer Selections</legend>
                                        <div class="control-group" ng-show="CusGroup1">
										  <div class="span3">
											<div class="radio">
											<label>
												<input type="radio" name="cusGroup1" id="cusGroup1" ng-model="cusGroup1" value="allcusGroup1" ng-click="allValue();" ng-checked="true">
												All <span ng-model="txtCusGroup1">{{txtCusGroup1}}</span>
											  </label>
											</div>
										  </div>
										  <div class="span5">
											<div class="radio">
												  <label>
													<input type="radio" name="cusGroup1" id="cusGroup1" ng-model="cusGroup1" value="cusGroup1">
													Selected <span ng-model="txtCusGroup1">{{txtCusGroup1}}</span>
												  </label>
											</div>
											<div style="padding:10px;" ng-show="isShown('cusGroup1');">
												<table>
																<tr>
																<td>
																	<tr>
																		<td> <label>Available</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			 <select id="AviGroup1" multiple="multiple" size="10" style="width:250px;" ng-model="AviGroup1" >
																			     <option ng-repeat="CusGroup1 in AviCusGroup1 | unique:'cusGroup1ID' " value={{CusGroup1.cusGroup1ID}}>{{CusGroup1.cusGroup1Desc}}</option>
																			 </select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		<td>
																				
																				 <div class="btn-group btn-group-vertical">
																				 <button type="button" class="btn btn-small" id="moverightall" ng-click="moveAllCustomers('AviGroup1','SelGroup1');"> <span class="icon-fast-forward"><b>>></b></span></button>
																				 <button type="button" class="btn btn-small" id="moveright" ng-click="moveCustomers('AviGroup1','SelGroup1');"><span class="icon-fast-forward"><b>></b></span></button>
																				 <button type="button" class="btn btn-small" id="moveleft" ng-click="moveCustomers('SelGroup1','AviGroup1');" ><span class="icon-fast-forward"><b><</b></span></button>
																				 <button type="button" class="btn btn-small" id="moveleftall" ng-click="moveAllCustomers('SelGroup1','AviGroup1');"><span class="icon-fast-forward"><b><<</b></span></button>
																				</div>
																		
																		</td>
																		<td> <label>Selected</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="SelGroup1"  multiple="multiple" size="10" style="width:250px;" ng-model="SelGroup1" ></select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		</tr>
																	</td>
																</tr>		
																</table>
															</div>
														  </div>
														</div>
												<div class="control-group" ng-show="CusGroup5">
												<div class="span3">
												<div class="radio">
												<label>
													<input type="radio" name="cusGroup5" id="cusGroup5" ng-model="cusGroup5" value="allcusGroup5" ng-click="allValue();" ng-checked="true">
													All <span ng-model="txtCusGroup5">{{txtCusGroup5}}</span>
												  </label>
												</div>
											  </div>
											  <div class="span5">
												<div class="radio">
													  <label>
														<input type="radio" name="cusGroup5" id="cusGroup5" ng-model="cusGroup5" value="cusGroup5">
														Selected <span ng-model="txtCusGroup5">{{txtCusGroup5}}</span>
													  </label>
												</div>
												<div style="padding:10px;" ng-show="isShown('cusGroup5');" >
													<table>
																	<tr>
																	<td>
																		<tr>
																			<td> <label>Available</label>
																			<!-- /.form-group -->
																				<div class="control-group">
																				<select id="AviGroup5" multiple="multiple" size="10" style="width:250px;" ng-model="AviGroup5">
																				<option ng-repeat="CusGroup5 in AviCusGroup5 | unique:'cusGroup5ID' | filterMultiple:{cusGroup1ID: SelGroup1}" value={{CusGroup5.cusGroup5ID}}>{{CusGroup5.cusGroup5Desc}}</option>
																				</select>
																				</div>
																			<!-- /.form-group -->
																			</td>
																			<td>
																					
																					 <div class="btn-group btn-group-vertical">
																					 <button type="button" class="btn btn-small" id="moverightall" ng-click="moveAllCustomers('AviGroup5','SelGroup5');"><span class="icon-fast-forward"><b>>></b></span></button>
																					 <button type="button" class="btn btn-small" id="moveright" ng-click="moveCustomers('AviGroup5','SelGroup5');"><span class="icon-fast-forward"><b>></b></span></button>
																					 <button type="button" class="btn btn-small" id="moveleft" ng-click="moveCustomers('SelGroup5','AviGroup5');"><span class="icon-fast-forward"><b><</b></span></button>
																					 <button type="button" class="btn btn-small" id="moveleftall" ng-click="moveAllCustomers('SelGroup5','AviGroup5');"><span class="icon-fast-forward"><b><<</b></span></button>
																					</div>
																			
																			</td>
																			<td> <label>Selected</label>
																			<!-- /.form-group -->
																				<div class="control-group">
																				<select id="SelGroup5" multiple="multiple"  size="10" style="width:250px;" ng-model="SelGroup5"></select>
																				</div>
																			<!-- /.form-group -->
																			</td>
																			</tr>
																		</td>
																	</tr>		
																	</table>
															</div>
														  </div>
														</div>
														<div class="control-group" ng-show="CusGroup6">
														<div class="span3">
														<div class="radio">
														  <label>
															<input type="radio" name="cusGroup6" id="cusGroup6" ng-model="cusGroup6" value="allcusGroup6"  ng-click="allValue();"  ng-checked="true">
															All <span ng-model="txtCusGroup6">{{txtCusGroup6}}</span>
														  </label>
														</div>
														</div>
														<div class="span5">
														<div class="radio">
															  <label>
																<input type="radio" name="cusGroup6" id="cusGroup6" ng-model="cusGroup6" value="cusGroup6" >
																Selected <span ng-model="txtCusGroup6">{{txtCusGroup6}}</span>
															  </label>
															</div>
															<div style="padding:10px;"  ng-show="isShown('cusGroup6');">
														<table>
																<tr>
																<td>
																	<tr>
																		<td> <label>Available</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="AviGroup6" multiple="multiple" size="10" style="width:250px;" ng-model="AviGroup6">
																				<option ng:repeat="CusGroup6 in AviCusGroup6 | unique:'cusGroup6ID' | filterMultiple:{cusGroup1ID: SelGroup1, cusGroup5ID: SelGroup5}" value="{{CusGroup6.cusGroup6ID}}">{{CusGroup6.cusGroup6Desc}}</option>
																				
																			</select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		<td>
																				<div class="btn-group btn-group-vertical">
																				 <button type="button" class="btn btn-small" id="moverightall" ng-click="moveAllCustomers('AviGroup6','SelGroup6');"><span class="icon-fast-forward"><b>>></b></span></button>
																				 <button type="button" class="btn btn-small" id="moveright" ng-click="moveCustomers('AviGroup6','SelGroup6');"><span class="icon-fast-forward"><b>></b></span></button>
																				 <button type="button" class="btn btn-small" id="moveleft" ng-click="moveCustomers('SelGroup6','AviGroup6');" ><span class="icon-fast-forward"><b><</b></span></button>
																				 <button type="button" class="btn btn-small" id="moveleftall" ng-click="moveAllCustomers('SelGroup6','AviGroup6');"><span class="icon-fast-forward"><b><<</b></span></button>
																				</div>
																		</td>
																		<td> <label>Selected</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="SelGroup6" multiple="multiple" size="10" style="width:250px;" ng-model="SelGroup6"></select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		</tr>
																	</td>
																</tr>		
																</table>
																</div>
														</div>
														</div>
														<div class="control-group">
														<div class="span3">
														<div class="radio">
															  <label>
																<input type="radio" id="customer" name="customer" ng-model="customer" value="allcustomer"  ng-checked="true">
																All Customers
															  </label>
															</div>
														</div>
														<div class="span8">
														<div class="radio">
															  <label>
																<input type="radio" id="customer" name="customer" ng-model="customer" value="customer">
																Selected Customers
															  </label>
															</div>
														<div style="padding:10px;" ng-show="isShown('customer');">
						<table>
																<tr>
																<td>
																	<tr>
																		<td> <label>Available </label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="AviCustomer" multiple="multiple" size="10" style="width:270px;" ng-model="AviCustomer">	
																			<option ng:repeat="cus in AviCus | unique:'customerID' | filterMultiple:{cusGroup1ID: SelGroup1, cusGroup5ID: SelGroup5, cusGroup6ID: SelGroup6}" value="{{cus.customerID}}">{{cus.cusCustomerClientCode}}  {{cus.cusCustomerName}}</option>
																			</select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		<td>
																				<div class="btn-group btn-group-vertical">
																				 <button type="button" class="btn btn-small" id="moverightall" ng-click="moveAllCustomers('AviCustomer','SelCustomer');"><span class="icon-fast-forward"><b>>></b></span></button>
																				 <button type="button" class="btn btn-small" id="moveright" ng-click="moveCustomers('AviCustomer','SelCustomer');"><span class="icon-fast-forward"><b>></b></span></button>
																				 <button type="button" class="btn btn-small" id="moveleft" ng-click="moveCustomers('SelCustomer','AviCustomer');" ><span class="icon-fast-forward"><b><</b></span></button>
																				 <button type="button" class="btn btn-small" id="moveleftall" ng-click="moveAllCustomers('SelCustomer','AviCustomer');"><span class="icon-fast-forward"><b><<</b></span></button>
																				</div>
																		</td>
																		<td> <label>Selected</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="SelCustomer" multiple="multiple" size="10" style="width:270px;" ng-model="SelCustomer"></select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		</tr>
																	</td>
																</tr>		
																</table>
					</div>
														</div>
														</div>
														<div class="control-group">
														<div class="span3">
														<div class="radio">
														  <label>
															<input type="radio" name="outlettype" id="outlettype" ng-model="outlettype" value="alloutlettype" ng-click="" ng-checked="true">
															All Outlet Type
														  </label>
														</div>
														</div>
														<div class="span5">
														<div class="radio">
															  <label>
																<input type="radio" name="outlettype" id="outlettype" ng-model="outlettype" value="outlettype">
																Selected Outlet Type
															  </label>
															</div>
															<div style="padding:10px;" ng-show="isShown(outlettype);">
														<table>
																<tr>
																<td>
																	<tr>
																		<td> <label>Available</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			 <select id="frmAllOutletType" multiple="multiple" size="10" style="width:250px;" ng-model="selectedSecCusGroupOption1">
																				<option ng:repeat="SecCusGroup1 in SecCusGroupOption1 | unique:'secGroup1ID'" value="{{SecCusGroup1.secGroup1ID}}">{{SecCusGroup1.secGroup1Desc}}</option>
																			</select> 
																			</div>
																		<!-- /.form-group -->
																		</td>
																		<td>
																				<div class="btn-group btn-group-vertical">
																				 <button type="button" class="btn btn-small" id="moverightall" ng-click="moveAllCustomers('frmAllOutletType','toSelOutletType')"><span class="icon-fast-forward"><b>>></b></span></button>
																				 <button type="button" class="btn btn-small" id="moveright" ng-click="moveCustomers('frmAllOutletType','toSelOutletType')"><span class="icon-fast-forward"><b>></b></span></button>
																				 <button type="button" class="btn btn-small" id="moveleft" ng-click="moveCustomers('toSelOutletType','frmAllOutletType')" ><span class="icon-fast-forward"><b><</b></span></button>
																				 <button type="button" class="btn btn-small" id="moveleftall" ng-click="moveAllCustomers('toSelOutletType','frmAllOutletType')"><span class="icon-fast-forward"><b><<</b></span></button>
																				</div>
																		</td>
																		<td> <label>Selected</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="toSelOutletType" multiple="multiple" size="10" style="width:250px;"></select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		</tr>
																	</td>
																</tr>		
																</table>
																</div>
														</div>
														</div>
														<div class="control-group">
														<div class="span3">
														<div class="radio">
														  <label>
															<input type="radio" name="seccustomer" id="seccustomer" ng-model="seccustomer" value="allseccustomer" ng-click=" " ng-checked="true">
															All Outlets
														  </label>
														</div>
														</div>
														<div class="span5">
														<div class="radio">
															  <label>
																<input type="radio" name="seccustomer" id="seccustomer" ng-model="seccustomer" value="seccustomer">
																Selected Outlets
															  </label>
															</div>
															<div style="padding:10px;" ng-show="isShown('seccustomer');">
															<table>
																<tr>
																<td>
																	<tr>
																		<td> <label>Available <input class="input-medium focused" id="SecCustomerSearch" type="text" ng-model="SecCustomerSearch" > </label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			 <select id="frmAllsecCustomer" multiple="multiple" size="10" style="width:270px;" ng-model="selectedSecCusOptionName">
																				<option ng:repeat="SecCusOptions in SecCusOptionName | unique:'secondaryCustomerID' | filter:SecCustomerSearch" value="{{SecCusOptions.secondaryCustomerID}}">{{SecCusOptions.secCustomerClientCode }} {{ SecCusOptions.secSecondaryCustomerClientName}}</option>
																				
																			</select> 
																			</div>
																		<!-- /.form-group -->
																		</td>
																		<td>
																				<div class="btn-group btn-group-vertical">
																				 <button type="button" class="btn btn-small" id="moverightall" ng-click="moveAllCustomers('frmAllsecCustomer','toSelsecCustomer')"><span class="icon-fast-forward"><b>>></b></span></button>
																				 <button type="button" class="btn btn-small" id="moveright" ng-click="moveCustomers('frmAllsecCustomer','toSelsecCustomer')"><span class="icon-fast-forward"><b>></b></span></button>
																				 <button type="button" class="btn btn-small" id="moveleft" ng-click="moveCustomers('toSelsecCustomer','frmAllsecCustomer')" ><span class="icon-fast-forward"><b><</b></span></button>
																				 <button type="button" class="btn btn-small" id="moveleftall" ng-click="moveAllCustomers('toSelsecCustomer','frmAllsecCustomer')"><span class="icon-fast-forward"><b><<</b></span></button>
																				</div>
																		</td>
																		<td> <label>Selected</label>
																		<!-- /.form-group -->
																			<div class="control-group">
																			<select id="toSelsecCustomer" multiple="multiple" size="10" style="width:270px;"></select>
																			</div>
																		<!-- /.form-group -->
																		</td>
																		</tr>
																	</td>
																</tr>		
																</table>
																</div>
														</div>
														</div>
													  </fieldset>
													</div>
												</div>
										</div>
									</div>
									<!-- /block -->
								</div>              
								</div>				
								</div>
		