<div ng-controller="DetailCtrl">
      <div class="span12" id="content">
                      <!-- morris stacked chart -->
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="block-content collapse in">
                                <div class="span17">
                                     <div class="form-horizontal">
                                      <fieldset>
                                        <legend>Promotion Details</legend>
										<table border='0' cellpadding='15' cellspacing='15' height="auto">
										<tr>
										<td valign="top" height='auto'>
										<legend>PromoType</legend>
										<div class="control-group">
                                          <label class="control-label" for="Objective">Objective</label>
                                          <div class="controls">
                                            <select id="promoObjective"  class="chzn-select" ng-model="promoObjective">
											<option ng:repeat="PromoObjective in Objective"  value="{{PromoObjective.prmObjectiveID}}" ng-selected="'102001' == PromoObjective.prmObjectiveID">{{PromoObjective.prmObjectiveDesc}}</option>
											</select>
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Structure">Structure</label>
                                          <div class="controls">
                                            <select id="promoStructure" class="chzn-select" ng-model="promoStructure">
											   <option value="1">Stand alone</option>
											   <option value="2">Parent</option>
											   <option value="3">Daughter</option>
											</select>
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Type">Type</label>
                                          <div class="controls">
                                            <select class="chzn-select" id="promoType"  ng-model="promoType" ng-change="changeDiv();">
												<option ng:repeat="PromoType in Type"  value="{{PromoType.promotiontypeID +','+PromoType.ptyPromotionTypeParent+','+PromoType.ptyPromotionTypeName }}" ng-selected="'102001' == PromoType.promotiontypeID">{{PromoType.ptyPromotionTypeName}}</option>
											</select>
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Unit">Unit</label>
                                          <div class="controls">
                                            <select class="chzn-select" id="promoUnit" ng-model="promoUnit">
											  <option ng:repeat="PromoUnit in Unit"  value="{{PromoUnit.prmUnitID}}" ng-selected="'102001' == PromoUnit.prmUnitID">{{PromoUnit.prmUnitDesc}}</option>
											</select>
                                          </div>
                                        </div>
										<!-- <div class="control-group">
										<div class="controls">
										<table>
										<tr>
										<td><div class="radio">
											<label>
												<input type="radio" id="invoice" name="invoice" value="1" onChange="changeField('1');">
												On Invoice
											  </label>
										</div></td>
										<td><div class="radio">
											<label>
												<input type="radio" id="invoice" name="invoice" value="0" checked onChange="changeField('0');">
												Off Invoice
											  </label>
										</div></td>
										</tr>
										</table>
										</div>
                                        </div> -->
										<div class="control-group">
                                          <label class="control-label" for="Budget Owner">Budget Owner</label>
                                          <div class="controls">
										  <select class="chzn-select">
											  <option>DIRECT KEY ACCOUNTS</option>
											  <option>LOCAL KEY ACCOUNTS</option>
											  <option>GENERAL TRADE</option>
											  <option>FOOD SERVICE</option>
											  <option>SHOPPER MARKETING</option>
											  <option>CONSUMER MARKETING</option>
											  <!-- <option>MEDICAL MARKETING</option> -->
											</select>
										</div>
                                        </div>
										<legend>Information</legend>
										<div class="control-group">
                                          <label class="control-label" for="Title">Title</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="promoTitle" type="text" ng-required="true">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Description">Description</label>
                                          <div class="controls">
                                            <textarea class="input-xlarge textarea" id="promoDesc" placeholder="Enter text ..." style="width: 280px; height: 50px"></textarea>
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="IO Number">IO Number</label>
                                          <div class="controls">
                                            <input class="input-xlarge disabled" id="promoIO" type="text" placeholder="Drafted" disabled="true">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Cost Center">Cost Center</label>
                                          <div class="controls">
                                            <input class="input-xlarge disabled" id="promoCost" type="text" placeholder="12345678" disabled="true">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="promoStartDate">Promo Start Date</label>
                                          <div class="controls">
                                            <input type="text" class="input-xlarge datepicker" id="promoStartDate" value="04/10/2014">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="promoEndDate">Promo End Date</label>
                                          <div class="controls">
                                            <input type="text" class="input-xlarge datepicker" id="promoEndDate" value="04/10/2014">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="promoFirstOrder">First Order Date</label>
                                          <div class="controls">
                                            <input type="text" class="input-xlarge datepicker" id="promoFirstOrder" value="05/10/2014">
                                          </div>
										</div>
											<div class="control-group">
                                          <label class="control-label" for="promoLastOrder">Last Order Date</label>
                                          <div class="controls">
                                            <input type="text" class="input-xlarge datepicker" id="promoLastOrder" value="05/10/2014">
                                          </div>
										</div>
										<div class="control-group">
                                          <label class="control-label" for="promoRequestDate">Request Dates From</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="promoRequestDate" type="text">
                                          </div>
                                        </div>
										</td>
										<td valign="top" width="20%"></td>
										<td valign="top">
										 <legend>Promo Details</legend>
										 <div id="Discounts" ng-hide="Discounts">
											<!-- Discount/Premium -->
										 <ng-include src="'Partials/Discounts.html'"></ng-include>
										<!-- END -->
										</div>
										<!-- Display -->
										<div id="Display" ng-show="Display">
										<ng-include src="'Partials/Display.html'"></ng-include>
										<!-- END -->
										</div>
										<!-- Free goods -->
										<div id="Freegoods" ng-show="Freegoods">
										<ng-include src="'Partials/Freegoods.html'"></ng-include>
										<!-- END -->
										</div>
										<!-- Lumpsum -->
										<div id="Lumpsum" ng-show="Lumpsum">
										<ng-include src="'Partials/Lumpsum.html'"></ng-include>
										<!-- End -->
										</div>
										<!-- MixnMatch -->
										<div id="MixnMatch" ng-show="MixnMatch">
										<ng-include src="'Partials/MixnMatch.html'"></ng-include>
										<!-- End -->
										</div>
										<!-- MixnMatch FOC-->
										<div id="MixnMatchFOC" ng-show="MixnMatchFOC">
										<div id="" style="overflow-y: scroll; height:850px;">
										<ng-include src="'Partials/MixnMatchFOC.html'"></ng-include>
										</div>
										<!-- End -->
										</div>
										<!-- Stepdiscount-->
										<div id="Stepdiscount" ng-show="Stepdiscount">
										<ng-include src="'Partials/Stepdiscount.html'"></ng-include>
										<!-- End -->
										</div>
										<!-- Stepdiscount FOC-->
										<div id="StepdiscountFOC" ng-show="StepdiscountFOC">
										<div id="" style="overflow-y: scroll; height:850px;">
										<ng-include src="'Partials/StepdiscountFOC.html'"></ng-include>
										</div>
										<!-- End -->
										</div>
										<!-- KRIS-->
										<div id="KRIS" ng-show="KRIS">
										<ng-include src="'Partials/KRIS.html'"></ng-include>
										<!-- End -->
										</div>
										<!-- FFS-->
										<div id="FFS" ng-show="FFS">
										<ng-include src="'Partials/FFS.html'"></ng-include>
										<!-- End -->
										</div>
										 </td>
										</tr>
										</table>
                                      </fieldset>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
               </div>			
</div>
