<div ng-controller="DetailCtrl">
      <div class="span12" id="content">
                      <!-- morris stacked chart -->
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="block-content collapse in">
                                <div class="span20">
                                     <div class="form-horizontal">
                                      <fieldset>
                                        <legend>Promotion Details</legend>
										<table border='0' cellpadding='15' cellspacing='15' height="auto">
										<tr>
										<td valign="top" height='auto'>
										<legend>PromoType</legend>
										<div class="control-group">
                                          <label class="control-label" for="Objective">Objective</label>
                                          <div class="controls">
                                            <select id="prmObjective" class="chzn-select" ng-model="selectedpromoObjective">
											<option value="0">-----Select---------------</option>
											<option ng:repeat="PromoObjective in Objective"  value="{{PromoObjective.prmObjectiveID}}">{{PromoObjective.prmObjectiveDesc}}</option>
											</select>
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Structure">Structure</label>
                                          <div class="controls">
                                            <select id="promoStructure" class="chzn-select" ng-model="selectedpromoStructure" ng-change="changeStructure();">
											   <option value="select">-----Select---------------</option>
											   <option value="1">Stand alone</option>
											   <option value="0">Parent</option>
											   <option value="2">Child</option>
											</select>
                                          </div>
                                        </div>
										<div id="Parent" ng-show="Parent">
										<div class="control-group">
                                          <label class="control-label" for="Structure">Choose Parent</label>
                                          <div class="controls">
                                            <select id="promoParentStructure" class="chzn-select" ng-model="selectedpromoParent">
											   <option value="0">-----Select---------------</option>
											   <option value="1">Parent1</option>
											   <option value="2">Parent1</option>
											   <option value="3">Parent1</option>
											</select>
                                          </div>
										  </div>
                                        </div>
										<div id="TypeUnit" ng-hide="TypeUnit">
										<div class="control-group">
                                          <label class="control-label" for="Type">Type</label>
                                          <div class="controls">
                                            <select class="chzn-select" id="promoType"  ng-model="selectedpromoType"  ng-change="changeDiv();">
												<option value="0">-----Select---------------</option>
												<option ng:repeat="PromoType in Type"  value="{{PromoType.promotiontypeID +','+PromoType.ptyPromotionTypeParent+','+PromoType.ptyPromotionTypeName }}" >{{PromoType.ptyPromotionTypeName}}</option>
											</select>
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Unit">Unit</label>
                                          <div class="controls">
                                            <select class="chzn-select" id="promoUnit" ng-model="selectedpromoUnit" ng-change="prdUnitChange();">
											  <option value="0">-----Select---------------</option>
											  <option ng:repeat="PromoUnit in Unit"  value="{{PromoUnit.prmUnitID +','+PromoUnit.prmUnitDesc}}">{{PromoUnit.prmUnitDesc}}</option>
											</select>
                                          </div>
                                        </div>
										</div>
										<!-- <div class="control-group">
										<div class="controls">
										<table>
										<tr>
										<td><div class="radio">
											<label>
												<input type="radio" id="invoice" name="invoice" value="1" onChange="changeField('1');">
												On Invoice
											  </label>
										</div></td>
										<td><div class="radio">
											<label>
												<input type="radio" id="invoice" name="invoice" value="0" checked onChange="changeField('0');">
												Off Invoice
											  </label>
										</div></td>
										</tr>
										</table>
										</div>
                                        </div> -->
										<div class="control-group">
                                          <label class="control-label" for="Budget Owner">Budget Owner</label>
                                          <div class="controls">
										  <select class="chzn-select" id="promoBudgetOwner" ng-model="selectedpromoBudgetOwner">
											  <option value="0">-----Select---------------</option>
											  <option ng:repeat="PromoBudgetOwner in BudgetOwner"  value="{{PromoBudgetOwner.BudgetOwnerID}}">{{PromoBudgetOwner.BudgetOwnerClientName}}</option>
										 </select>
										</div>
                                        </div>
										<legend>Information</legend>
										<div class="control-group">
                                          <label class="control-label" for="Code">Promotion Code</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="promoCode" type="text" value="" ng-required="true">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Code">Promotion Name</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="promoName" type="text" value="" ng-required="true">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Description">Description</label>
                                          <div class="controls">
                                            <textarea class="input-xlarge textarea" id="promoDesc" placeholder="Enter text ..." style="width: 280px; height: 50px"></textarea>
                                          </div>
                                        </div>
										<!-- <div class="control-group">
                                          <label class="control-label" for="IO Number">IO Number</label>
                                          <div class="controls">
                                            <input class="input-xlarge disabled" id="promoIO" type="text" placeholder="Drafted" disabled="true">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Cost Center">Cost Center</label>
                                          <div class="controls">
                                            <input class="input-xlarge disabled" id="promoCost" type="text" placeholder="12345678" disabled="true">
                                          </div>
                                        </div> -->
										<div class="control-group">
                                          <label class="control-label" for="promoStartDate">Promo Start Date</label>
                                          <div class="controls">
                                            <input type="text" class="input-xlarge datepicker" id="promoStartDate" value="04/10/2014">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="promoEndDate">Promo End Date</label>
                                          <div class="controls">
                                            <input type="text" class="input-xlarge datepicker" id="promoEndDate" value="04/10/2014">
                                          </div>
                                        </div>
										<!-- <div class="control-group">
                                          <label class="control-label" for="promoFirstOrder">First Order Date</label>
                                          <div class="controls">
                                            <input type="text" class="input-xlarge datepicker" id="promoFirstOrder" value="05/10/2014">
                                          </div>
										</div>
											<div class="control-group">
                                          <label class="control-label" for="promoLastOrder">Last Order Date</label>
                                          <div class="controls">
                                            <input type="text" class="input-xlarge datepicker" id="promoLastOrder" value="05/10/2014">
                                          </div>
										</div> -->
										<!-- <div class="control-group">
                                          <label class="control-label" for="promoRequestDate">Request Dates From</label>
                                          <div class="controls">
                                            <input class="input-xlarge focused" id="promoRequestDate" type="text">
                                          </div>
                                        </div> -->
										</td>
										<td valign="top"></td>
										<td valign="top" border="2px;">
										<div id="promoDetails" ng-show="promoDetails">
										 <legend>Promo Details</legend>
										 <div id="promoDetaildiv" ng-show="promoDetaildiv">
										<!-- Discount/Premium -->
										 <div ng-model="pageName">
											<div ng-include="pageName"></div>
										 </div>
										<!-- END -->
										</div>
										
										</div>
										 </td>
										</tr>
										</table>
                                      </fieldset>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /block -->
                    </div>
               </div>			
</div>
