<div class="control-group">
                                          <label class="control-label" for="DF"  ng-model="promoTypeParent">{{promoTypeParent}} Fee</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="promoDisplayFee" type="text" onmouseover="changeText('1');" onmouseout="changeTextout('1');"> RM
                                          </div>
                                        </div>
										<div id="displayGondola" ng-show="displayGondola">
										<div class="control-group">
                                          <label class="control-label" for="POS">No. Of Displays</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="promoDisplayNumber" type="text">
                                          </div>
                                        </div>
										</div>
										<div class="control-group">
                                          <label class="control-label" for="POS">POS Material Costs</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="promoPOSMaterialcost" type="text"> RM
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Free">Number OF Free CTN</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="promoNumberofFreeCTN" type="text" onmouseover="changeText('2');" onmouseout="changeTextout('1');">
                                          </div>
                                        </div>
<script>
function changeText(){
if($('#promoDisplayFee').val()!=''){
$("#promoNumberofFreeCTN").prop('disabled', true);
}else{
$("#promoNumberofFreeCTN").prop('disabled', false);
}
if($('#promoNumberofFreeCTN').val()!=''){
$("#promoDisplayFee").prop('disabled', true);
}else{
$("#promoDisplayFee").prop('disabled', false);
}
}
</script>