
										<p>Requirements</p>
										<div class="control-group">
                                          <label class="control-label" for="Volume Requirement">Volume Requirement Retailer</label>
                                          <div class="controls">
										  <table>
										  <tr>
										  <td><input class="input-small focused" id="" type="text" value=""></td>
										  <td><select class="chzn-select" id="promoFreegoodsamt">
											  <option>UNIT</option>
											  <option>KG</option>
											  <option>MYR</option>
											  <option>CTN</option>
											  <option>EA</option>
											</select></td>
										  </tr>
										  </table>
                                          </div>
										</div>
										<div class="control-group">
                                          <label class="control-label" for="Display">Display</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="promoDisplay" type="text" value="">
                                          </div>
                                        </div>
										<legend></legend>
										<div class="control-group">
                                          <label class="control-label" for="Rebate">Rebate</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="promoRebate" type="text" value="">RM
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Rebate%">Rebate%</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value="">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="freegoods">Free goods amount</label>
                                          <div class="controls">
										  <table>
										  <tr>
										  <td><input class="input-small focused" id="" type="text" value=""></td>
										  <td><select class="chzn-select" id="promoFreegoodsamt">
											  <option>UNIT</option>
											  <option>KG</option>
											  <option>MYR</option>
											  <option>CTN</option>
											  <option>EA</option>
											</select></td>
										  </tr>
										  </table>
                                          </div>
										</div> 
										<div class="control-group">
                                          <label class="control-label" for="">Premium Quantity</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value="">
                                          </div>
                                        </div>
										<legend></legend>
										<div class="control-group">
                                          <label class="control-label" for="">Volume Requirement Consumer</label>
                                          <div class="controls">
										  <table>
										  <tr>
										  <td><input class="input-small focused" id="" type="text" value=""></td>
										  <td><select class="chzn-select" id="promoFreegoodsamt">
											  <option>UNIT</option>
											  <option>KG</option>
											  <option>MYR</option>
											  <option>CTN</option>
											  <option>EA</option>
											</select></td>
										  </tr>
										  </table>
                                          </div>
										</div>
										<div class="control-group">
                                          <label class="control-label" for="freegoods">Free goods amount</label>
                                          <div class="controls">
										  <table>
										  <tr>
										  <td><input class="input-small focused" id="" type="text" value=""></td>
										  <td><select class="chzn-select" id="promoFreegoodsamt">
											  <option>UNIT</option>
											  <option>KG</option>
											  <option>MYR</option>
											  <option>CTN</option>
											  <option>EA</option>
											</select></td>
										  </tr>
										  </table>
                                          </div>
										</div>
										<legend></legend>
										<div class="control-group">
                                          <label class="control-label" for="">Loyalty card printing</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value="">RM
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="">Penetration card printing</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value="">RM
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="">POSM Costs</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value="">RM
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="PC">Premium Cost</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value="">RM
                                          </div>
                                        </div>
										
										