<div class="control-group">
    <label class="control-label" for="tiers">Select number of tiers</label>
    <div class="controls">
    <select id="promoTiers"  class="chzn-select" ng-model="selectedpromoTiers" ng-change="Tires();">
	<option value="0">---select-----</option>
	<option value="1">1</option>
	<option value="2">2</option>
	<option value="3">3</option>
	<option value="4">4</option>
	<option value="5">5</option>
	</select>
    </div>
</div>
<div class="control-group">
<table cellpadding="15" cellspacing="15" align="left" border="0">
                        <tr>
                        <td><label>Product Group</label></td>
                        <td><label>Growth Target</label></td>
						<td><label>Target%</label></td>
						<td><label>PayOut%</label></td>
					  </tr>
					  <tr ng-model="range" ng-repeat="n in [range] | makeRange">
						<td><select id="frmpromoProductValue" class="chzn-select" ng-model="selectedpromoProductValue">	
						    <option value="0">---Select All----------</option>
							<option ng:repeat="PrdName in promoProductValue | unique:'ProductID'" value="{{PrdName.ProductID}}">{{PrdName.ProductName}}</option>
							</select></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
                        <td><input type="textbox" class="input-small focused" id="Title"></td>
					  </tr>
					</table>
                                    
</div>