<div class="control-group">
                                          <label class="control-label" for="DF"  ng-model="Display">Display Fee</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="Display" type="text" value="" > RM
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="POS">Volume Requirement </label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value=""> CTNs
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="POS">Sellout Rebate</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value=""> RM/CTNs
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Free">Other Lumpsum</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="promoFreeCTN" type="text" value=""> RM
                                          </div>
                                        </div>
