<div class="control-group">
										  <label  for="focusedInput">Selected Products</label>
                                            <textarea class="input-xlarge textarea" id="promoDesc" placeholder="Enter text ..." style="width: 450px; height: 150px"></textarea>
                                        </div>
										<div class="control-group">
										  <button type="submit" class="btn">Add To Group1</button>
                                          <button type="submit" class="btn">Add To Group2</button>
										  <button type="submit" class="btn">Add To Group3</button>
                                        </div>
										<div class="control-group">
										<table>
										<tr>
											<td><label>Product Group</label></td>
											<td><label>Volume Required</label></td>
											<td><label>Percentage Of Budget</label></td>
										  </tr>
										  <tr>
											<td><label>Group1:</label><textarea class="input-small textarea" id="promoDesc" placeholder="Enter text ..." style="width: 200px; height: 50px"></textarea></td>
											<td><input class="input-small focused" id="" type="text" value=""></td>
											<td><input class="input-small focused" id="" type="text" value=""></td>
										  </tr>
										  <tr>
											<td><label>Group2:</label><textarea class="input-small textarea" id="promoDesc" placeholder="Enter text ..." style="width: 200px; height: 50px"></textarea></td>
											<td><input class="input-small focused" id="" type="text" value=""></td>
											<td><input class="input-small focused" id="" type="text" value=""></td>
										  </tr>
											<tr>
											<td><label>Group3:</label><textarea class="input-small textarea" id="promoDesc" placeholder="Enter text ..." style="width: 200px; height: 50px"></textarea></td>
											<td><input class="input-small focused" id="" type="text" value=""></td>
											<td><input class="input-small focused" id="" type="text" value=""></td>
										  </tr>
										</table>
										</div>
										<div class="control-group">
                                          <label class="control-label" for="Sell Out Rebate">Sell Out Rebate</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="promoSelloutRebateM" type="text" value="">RM/Combination
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="Trade Discount">Trade Discount</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="promoTradeDiscountM" type="text" disabled="true">RM/Combination
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="PM">Premium Cost</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value="">RM
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="PM">Premium Quantity</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value="">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="PM">Premium Mechanic</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value="">/Combination
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="MC">Mail Costs</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value="">
                                          </div>
                                        </div>
										<div class="control-group">
                                          <label class="control-label" for="POS">POS Material Costs</label>
                                          <div class="controls">
                                            <input class="input-small focused" id="" type="text" value="">
                                          </div>
                                        </div>
				