<legend>Promo P&L</legend>
<table class="table table-hover table-striped">
					<tr>
						<th width="5%"><strong>P&L Lines </strong></th>
						<th width="5%"><strong>Base</strong></th>
						<th width="5%"><strong>Plan</strong></th>
						<th width="5%"><strong>Variance</strong></th>
						<th width="5%"><strong>Actual</strong></th>
						<th width="5%"><strong>Variance</strong></th>
					</tr>
                        <tr>
                        <td>Gross Sales</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td Colspan="6"></td>
					  </tr>
					  <tr>
                        <td>Rebates</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td>Sell out reimbursements</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td>Displays</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td>Promotion</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td><strong>Total volume</strong></td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td Colspan="6"></td>
					  </tr>
					  <tr>
                        <td>Sell in Rebates</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td>Assets Management</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td>Advertising</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td>Distribution</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					    <tr>
                        <td><strong>Total volume</strong></td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td Colspan="6"></td>
					  </tr>
					  <tr>
                        <td><strong>Market Return</strong></td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td Colspan="6"></td>
					  </tr>
					  <tr>
                        <td><strong>Total direct selling cost</strong></td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					   <tr>
                        <td Colspan="6"></td>
					  </tr>
					  <tr>
                         <td><strong>Total Net Sales</strong></td>
						 <td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td>% of GS</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					   <tr>
                        <td Colspan="6"></td>
					  </tr>
					   <tr>
                         <td><strong>Gross Profit</strong></td>
						 <td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td>% of GS</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					  <tr>
                        <td><strong> A&P </strong></td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					<tr>
                        <td><strong> Total Expenses </strong></td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					<tr>
                        <td><strong> GP-P / Contribution </strong></td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
						<td>0.00</td>
					  </tr>
					
					
					  
</table>


