<div class="control-group">
<table cellpadding="15" cellspacing="15" align="left" border="0">
						<tr>
						<td colspan="5"><strong>Promo Detail</strong></td>
					  </tr>
						<tr>
						<td colspan="5"><label>Volume Requirement</label></td>
					  </tr>
                        <tr>
                        <td></td>
                        <td><label>From:</label></td>
						<td><label>To:</label></td>
						<td><label>Rebate</label></td>
						<td></td>
					  </tr>
                       <tr>
                        <td></td>
                        <td><label>CTN</label></td>
						<td><label>CTN</label></td>
						<td></td>
						<td><label>NTT (RM)</label></td>
					  </tr>
					  <tr>
                      	<td>Step1:</td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
                        <td><input type="textbox" class="input-small focused" id="Title"></td>
					  </tr>
                       <tr>
                      	<td>Step2:</td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
                        <td><input type="textbox" class="input-small focused" id="Title"></td>
					  </tr>
                       <tr>
                      	<td>Step3:</td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
                        <td><input type="textbox" class="input-small focused" id="Title"></td>
					  </tr>
                       <tr>
                      	<td>Step4:</td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
                        <td><input type="textbox" class="input-small focused" id="Title"></td>
					  </tr>
                       <tr>
                      	<td>Step5:</td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
                        <td><input type="textbox" class="input-small focused" id="Title"></td>
					  </tr>
                       <tr>
                      	<td>Step6:</td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
                        <td><input type="textbox" class="input-small focused" id="Title"></td>
					  </tr>
                       <tr>
                      	<td>Step7:</td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
						<td><input type="textbox" class="input-small focused" id="Title"></td>
                        <td><input type="textbox" class="input-small focused" id="Title"></td>
					  </tr>
					</table>
                                    
</div>