<div>
      <div class="span12" id="content">
                      <!-- morris stacked chart -->
                    <div class="row-fluid">
                        <!-- block -->
                        <div class="block">
                            <div class="block-content collapse in">
                                <div class="span17">
                                     <div class="form-horizontal">
                                      <fieldset>
                                        <legend>Expected Lift</legend>
										<table border='0' cellpadding='15' cellspacing='15' height="auto">
										<tr>
										<td valign="top" height='auto'>
										<legend>Volumes in:</legend>
										<table border='0' cellpadding='15' cellspacing='15' height="auto">
										<tr>
										<td><div class="radio">
											<label>
												<input type="radio" id="Quantity" name="Quantity" value="1" Checked>
												Quantity
											  </label>
										</div></td>
										<td><div class="radio">
											<label>
												<input type="radio" id="Quantity" name="Quantity" value="1">
												RM - Net Sales Value
											  </label>
										</div></td>
										</tr>
										</table>
										<legend>Enter volumes by:</legend>
										<table border='0' cellpadding='15' cellspacing='15' height="auto">
										<tr>
										<td><div class="radio">
											<label>
												<input type="radio" id="volumes" name="volumes" value="1" Checked>
												Individual product
											  </label>
										</div></td>
										<td><div class="radio">
											<label>
												<input type="radio" id="volumes" name="volumes" value="1">
												By product sub group
											  </label>
										</div></td>
										</tr>
										<tr>
										<td><div class="radio">
											<label>
												<input type="radio" id="volumes" name="volumes" value="1" Checked>
												By product type
											  </label>
										</div></td>
										<td><div class="radio">
											<label>
												<input type="radio" id="volumes" name="volumes" value="1">
												By product brand
											  </label>
										</div></td>
										</tr>
										<tr>
										<td><div class="radio">
											<label>
												<input type="radio" id="volumes" name="volumes" value="1" Checked>
												By product group
											  </label>
										</div></td>
										<td><div class="radio">
											<label>
												<input type="radio" id="volumes" name="volumes" value="1">
												For all product combine
											  </label>
										</div></td>
										</tr>
										<tr>
										<td><label for="Product">Product</label></td>
										<td>
										  <select>
											  <option>All</option>
										</div>
										</td>
										</tr>
										</table>
										<legend>Volume</legend>
										<div class="span6" id="content">
										<table border='0' cellpadding='15' cellspacing='15' height="auto">
										<tr>
										<td></td>
										<td><button class="btn btn-default">Lookup baseline volumes</button></td>
										<td><button class="btn btn-default">Copy baseline to Plan</button></td>
										<td><button class="btn btn-default">Lookup actual volumes</button></td>
										</tr>
										<tr>
										<td></td>
										<td><input class="input-default disabled" type="text" placeholder="P-1" disabled="true">
                                          </td>
										<td><input class="input-default disabled" type="text" placeholder="P" disabled="true">
                                         </td>
										<td><input class="input-default disabled" type="text" placeholder="P+1" disabled="true">
                                          </td>
										</tr>
										<tr>
										<td>Baseline</td>
										<td><input class="input-default focused" id="promoRequestDate" type="text"></td>
										<td><input class="input-default focused" id="promoRequestDate" type="text"></td>
										<td><input class="input-default focused" id="promoRequestDate" type="text"></td>
										</tr>
										<tr>
										<td>Plane</td>
										<td><input class="input-default focused" id="promoRequestDate" type="text"></td>
										<td><input class="input-default focused" id="promoRequestDate" type="text"></td>
										<td><input class="input-default focused" id="promoRequestDate" type="text"></td>
										</tr>
										<tr>
										<td>Actual</td>
										<td><input class="input-default focused" id="promoRequestDate" type="text"></td>
										<td><input class="input-default focused" id="promoRequestDate" type="text"></td>
										<td><input class="input-default focused" id="promoRequestDate" type="text"></td>
										</tr>
										</table>
										</div>
										</td>
										<td valign="top" width="20%"></td>
										<td valign="top"><legend>Volumes</legend>
										 <div id="Volumes">

										 </div>
										 </td>
										</tr>
										</table>
                                      </fieldset>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- /block -->
                    </div>
               </div>			   
</div>
