<!doctype html>
<html ng-app="promo">
  <head>
  <meta charset="utf-8" />
  <title>Promotool</title>
  <!-- CSS Files -->
    <link rel="stylesheet" type="text/css" href="./Styles/bootstrap/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="./Styles/grid/grid.css" />
	<link rel="stylesheet" type="text/css" href="./Styles/bootstrap/bootstrap-responsive.min.css" />
	<link rel="stylesheet" type="text/css" href="./Styles/assets/styles.css" />
	<link rel="stylesheet" type="text/css" href="./Styles/assets/datepicker.css" />
	<!-- Jquery & Angular  Files -->
    <script type="text/javascript" src="./Library/jquery/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="./Library/jquery/jquery-ui-1.9.1.custom.min.js"></script> 
    <script type="text/javascript" src="./Library/jquery/jquery.layout-latest.min.js"></script>  
    <script type="text/javascript" src="./Library/angular/angular.js"></script>
	<script type="text/javascript" src="./Library/bootstrap/bootstrap-tab.js"></script>
	<script type="text/javascript" src="./Library/bootstrap/bootstrap-datepicker.js"></script>
	<!-- Grid Files -->
	<script type="text/javascript" src="./Library/grid/plugins/ng-grid-layout.js"></script> 
    <script type="text/javascript" src="./Library/grid/build/ng-grid.debug.js"></script>
    <script type="text/javascript" src="./Javascript/listCtrl.js"></script> 
	<script type="text/javascript" src="./Javascript/customerCtrl.js"></script> 
	<script type="text/javascript" src="./Javascript/productCtrl.js"></script> 
	<script type="text/javascript" src="./Javascript/detailCtrl.js"></script> 
    <script type="text/javascript" src="./Javascript/promoCtrl.js"></script>
</head>
  <body ng-app="myApp" ng-controller="userController">
   <!-- Center Portion -->
   <form  ng-controller="FrmController">
  <!--  	<div><pre ng-model="result">{{result}}</pre></div>  -->
	<div class="ui-layout-center">	
	<div>
		<div ng-controller="TabsDemoCtrl"> 
		  <tabset>
		  <tab>
			<tab-heading>Customer</tab-heading>
			<tab-content>
			<!-- Cutomer Selection-->
			 <ng-include src="'Partials/Customer.html'"></ng-include>
				</tab-content>
			<!-- End -->
			</tab>
		   <tab>
			<tab-heading>Product</tab-heading>
			<tab-content>
			<!-- Product Selection-->
			 <ng-include src="'Partials/Product.html'"></ng-include> 
			<!-- End -->
			</tab-content>
			</tab>
			<tab>
			<tab-heading>Detail</tab-heading>
			<tab-content>
			<!-- Detail--------->
			 <ng-include src="'Partials/Detail.html'"></ng-include> 
			<!-- End -->
			</tab-content>
			</tab>
			<tab>
			<tab-heading>Volumes</tab-heading>
			<tab-content>
			<!-- Volumes--------->
			 <ng-include src="'Partials/Volumes.html'"></ng-include> 
			<!-- End -->
			</tab-content>
			</tab>
		  </tabset>
		</div>
		</div>
	</div> 
		<!-- Header Portion -->
		<!-- <div class="ui-layout-north"></div> -->
		<!-- Middle Portion  -->
		<!-- <div class="ui-layout-south"></div> -->
		<!-- Left Portion  -->
		<div class="ui-layout-west" >
		<p>
		<button type="button" class="btn btn-default btn-lg btn-block">Undo</button>
		<button type="button" class="btn btn-default btn-lg btn-block">Export</button>
		<button type="button" class="btn btn-default btn-lg btn-block">Set As Default</button>
		<button type="button" class="btn btn-default btn-lg btn-block" ng-click="CheckValue();" >Save</button>
		<button type="button" class="btn btn-default btn-lg btn-block">Close</button>
		</p>
		</div> 
		</form>
		
    </body>
 
</html>